.vote-results {
	flex: 1;
	max-height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.vote-results__dates {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden auto;
}
.voters {
	background-color: honeydew;
	padding: 2.5px;
}
.voter {
	font-size: .8em;
}
.want {
	color: green;
}
.may {
	color: darkorange;
}